/* ExamsQuizzes.css - Styling for the exams and quizzes page */
.create-quiz-button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to right, #f163cb, #e94848);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}
.create-quiz-button:hover {
  background: linear-gradient(to right, #902ba7, #a51e39);
}
.quiz-list li {
  transition: transform 0.3s;
}
.quiz-list li:hover {
  transform: scale(1.02);
}
/* New: Popup styling */
.create-quiz-button {
  cursor: pointer;
}

/* CreateQuiz.css - Styling for the create quiz page */
.create-quiz-button {
  cursor: pointer;
}
input[type="text"] {
  border: none;
  outline: none;
}
input[type="radio"] {
  accent-color: #f87171;
}
button:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
}

.create-buttom {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to right, #ff609d, #a855f7);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  ;

}

.delete-quiz-button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to right, #f163cb, #e94848);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}
.delete-quiz-button:hover {
  background: linear-gradient(to right, #902ba7, #a51e39);
}

.edit-quiz-button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to right, #659bff, #4935e5);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}
.edit-quiz-button:hover {
  background: linear-gradient(to right, #3d6bc7, #1e1ea5);
}
